
.mock-interview{
    .con-box-wrap{
      padding: 45px;
      @media (max-width:992px){
        padding: 20px;
      }
      .con-box-title{
        margin-bottom: 10px;
      }
      
    }
  }
  .mock-interview-modal{
    .ant-modal-body{
      .choose-tutor{
        .ant-form-item{
          height: 55vh;
          overflow: auto;
          padding: 0  10px !important;
          padding-bottom: 15px !important;
          &::-webkit-scrollbar {
            width: 8px;
          }
          /* Track */
          &::-webkit-scrollbar-track {
            background: #f1f1f1;
          }
          /* Handle */
          &::-webkit-scrollbar-thumb {
            background:   #B5B9C9;
            border-radius: 15px;
          }
          
        }
        .title{
          padding: 0 10px;
          margin-bottom: 13px;
          font-weight: 600;
          font-size: 16px;
          color: #312D42;
        }
      }
      .ant-form-item{
        .ant-collapse{
          background-color: transparent;
          .ant-collapse-item{
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.02), 0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 1px 2px 0 rgba(0, 0, 0, 0.03);
            padding: 20px;
            border-radius: 8px;
            background-color: #fff;
            margin-bottom: 8px;
            @media (max-width:767px){
              padding: 13px;
            }
            &.ant-collapse-item-active{
              box-shadow: 0px 5px 12px 4px #00000017, 0px 3px 6px 0px #0000001F, 0px 1px 2px -2px #00000029;
            }
            &:last-child{
              margin-bottom: 0;
            }
            .ant-collapse-header{
              padding: 0;
              .ant-collapse-arrow{
                right: 0;
              }
              .ant-radio-wrapper{
                display: flex;
                align-items: center;
              }
              .avatar{
                display: flex;
                align-items: center;
                column-gap: 16px;
                margin-left: 8px;
                @media (max-width:767px){
                  column-gap: 8px;
                  margin-left: 4px;
                }
              }
              .tutor-name{
                color: #312D42;
                font-weight: 600;
                margin-bottom: 3px;
              }
            }
            .ant-collapse-content{
              .ant-collapse-content-box{
                padding: 0;
                margin-top:12px;
                color:#465078;
              }
            }
          }
        }
      }
    }
    .ant-form{
      .ant-form-item{
        &:last-child{
          margin-bottom: 0;
        }
        .ant-form-item-label{
          margin-bottom: 5px;
          label{
            color: #312D42;
          }
        }
      }
    }
  }
  .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .tutor-mock-section-wrap{
    .flex{
      @media (max-width:767px){
        margin-bottom: 20px;
      }
      .d_flex_center{
        @media (max-width:767px){
          justify-content: space-between;
          min-width: 100%;
        }
      }
    }
  }