
.application-reviewing-process-section-title-wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1032px;

  .application-reviewing-process-section-title{
    margin: 24px 0;
    color: #312D42;
    font-weight: 600;
    font-size: 38px;
    font-style: normal;
    line-height: 1.21;
  }

}


.reviewing-process-student-block{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1032px;
  margin-top: 40px;
@media screen and(max-width: 1280px){
  flex-direction: column;

}

  .student-block-profile{
    width: 74%;
  }

  .student-block-profile-title{
    color: #6B7393;
    font-weight: 600;
    font-size: 24px;
    font-style: normal;
    line-height: 0.5;
  }

  .student-block-profile-card{
    display: flex;
    justify-content: space-between;
    //width: 768px;
    margin: 24px 0 0;
    padding: 32px;
    background: #FFF;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 2%), 0 1px 6px -1px rgb(0 0 0 / 2%), 0 1px 2px 0 rgb(0 0 0 / 3%);
    @media screen and(max-width:1032px){
      width: 100%;
    }
    @media screen and(max-width:769px){
      flex-direction: column;
      align-items: center;

      .student-block-profile-actions{
        margin-top: 24px;
      }
    }

        .student-block-profile-info{
          display: flex;

          .student-block-profile-text{
            margin-left: 24px;

            .student-block-profile-text-name{
              color: #312D42;
              font-weight: 600;
              font-size: 20px;
              font-style: normal;
              line-height: 1.4;
            }

            .student-block-profile-text-info{
              margin: 4px 0 0;
              color: #6B7393;
              font-weight: 400;
              font-size: 14px;
              font-style: normal;
              line-height: 1.57;

              & span{
                margin-left: 4px;
                color: #312D42;
                font-weight: 600;
              }
            }

            }
          }
        }

    .student-block-profile-actions{
    .student-block-profile-actions-btn{
      padding: 8px 16px;
      color: #312D42;
      font-weight: 400;
      font-size: 16px;
      font-style: normal;
      line-height: 24px;
      background-color: rgb(255 255 255 / 0%);
      border: 1px solid  rgb(0 0 0 / 15%);
      border-radius: 8px;
      cursor: pointer;

      &:last-child{
        margin-left: 16px;
      }
    }

  }

.reviewing-process-deadline-block{
  width: 23%;
  @media screen and(max-width:1280px){
    width: 240px;
    margin-top: 24px;
    margin-left: 24px;
  }

    .deadline-block-title{
      color: #6B7393;
      font-weight: 600;
      font-size: 24px;
      font-style: normal;
      line-height: 0.5;
    }

    .deadline-block-card{
      display: flex;
      flex-direction: column;
      max-width: 240px;
      margin: 24px 0 0;
      padding: 32px 32px 62px;
      background: #FFF;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 2px 4px 0 rgb(0 0 0 / 2%), 0 1px 6px -1px rgb(0 0 0 / 2%), 0 1px 2px 0 rgb(0 0 0 / 3%);

      .deadline-block-months{
        margin: 0;
        color: #312D42;
        font-weight: 600;
        font-size: 24px;
        font-style: normal;
        line-height: 1.33;
      }

      .deadline-block-text{
        margin: 4px 0 0;
        color: #6B7393;
        font-weight: 400;
        font-size: 14px;
        font-style: normal;
        line-height: 1.57;
      }
    }
  }
}

.reviewing-process-preview-block{
  display: flex;
  justify-content: space-between;
  max-width: 1032px;
  margin: 40px 0 0;
  @media screen and(max-width:1200px){
    flex-direction: column;
  }

  .steps-block{
    width: 49%;
    @media screen and(max-width:1200px){
      margin-top: 24px;
    }

    .steps-block-title{
      color: #6B7393;
      font-weight: 600;
      font-size: 24px;
      font-style: normal;
      line-height: 0.5;
    }

    .steps-wrap{
      //width: 504px;
      margin: 24px 0 0;
      padding: 32px;
      background: #FFF;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 2px 4px 0 rgb(0 0 0 / 2%), 0 1px 6px -1px rgb(0 0 0 / 2%), 0 1px 2px 0 rgb(0 0 0 / 3%);
    }

    .application-step-title{
      color: #312D42;
      font-weight: 600;
      font-size: 16px;
      font-style: normal;
      line-height: 150%;
    }
  }


  .preview-block{
    width: 49%;
    @media screen and(max-width:1200px){
      margin-top: 24px;
    }

    .preview-block-title{
      color: #6B7393;
      font-weight: 600;
      font-size: 24px;
      font-style: normal;
      line-height: 0.5;
    }

    .preview-wrap{
      width: 504px;
      height: 638px;
      margin: 24px 0 0;
      padding: 32px;
      background: #FFF;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 2px 4px 0 rgb(0 0 0 / 2%), 0 1px 6px -1px rgb(0 0 0 / 2%), 0 1px 2px 0 rgb(0 0 0 / 3%);
    }
  }
}

.application-step-desc-wrap{
  position: relative;

    .arrow{
      position: absolute;
      top: -16px;
      right: 0;
      cursor: pointer;
      opacity: 0.5;
    }
}