.basic-information{
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .basic-information-title {
    color: #6B7393;
    font-weight: 600;
    font-size: 24px;
    font-style: normal;
    line-height: 133%;
    margin-bottom: 21px;

  }
}

.basic-information-form{
  width: 592px;
  padding: 40px 32px 32px;
  background-color: #FFF;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 2%), 0 1px 6px -1px rgb(0 0 0 / 2%), 0 1px 2px 0 rgb(0 0 0 / 3%);
    
      .basic-information-form-item{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .label{
          margin: 0;
          color: #312D42;
          font-weight: 600;
          font-size: 16px;
          font-style: normal;
          line-height: 150%;

        }

        .input{
          width: 328px;
          color: rgb(0 0 0 / 88%);
          font-weight: 400;
          font-size: 16px;
          font-style: normal;
          line-height: 150%;
          background-color: #FFF;
          border: 1px solid  rgb(0 0 0 / 15%);
          border-radius: 8px;
        }

      }

  .timezone-wrap{
    display: flex;
    justify-content: space-between;

    .timezone-label{
      margin: 0;
      color: #312D42;
      font-weight: 600;
      font-size: 16px;
      font-style: normal;
      line-height: 150%;

    }

    .switch-wrap{
      display: flex;
      margin-top: 16px;

      .switch-text{
        margin-left: 8px;
        color: #6B7393;
        font-size: 14px;
        font-style: normal;
        line-height: 157%;

      }
    }
  }

  .save-button-block {
    display: flex;
    justify-content: flex-end;
  }
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 8px;
}

.form-basic-button-wrap{
  display: flex;
  justify-content: center;


  .form-button{
    color:  #FFF;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    background:  #2816EE;
    border: 1px solid #2816EE;
    border-radius: 6px;
    box-shadow: 0 2px 0 0 rgb(0 0 0 / 2%);
  }
}

@media (max-width:767px){
  .basic-information{
    .basic-information-form{
      width: 100%;
      padding: 20px;
    }
  }
}