@import url("../../components/app/index.less");

.mock-simulation {
     @media (max-width:767px){
          .ant-table  {
               .ant-table-content{
                    width: 100%;
                    overflow: auto;
                    tr td, tr th{
                         padding: 7px 10px;
                    }
               }
          }
     }
     .ant-alert {
          margin-top: 16px;

          &.ant-alert-info {
               border: 1px solid #91CAFF;
               background: #E6F4FF;
               border-radius: 8px;
               padding: 20px 24px;

               .ant-alert-icon {
                    svg {
                         fill: #2816EE;
                    }
               }

               .ant-alert-message {
                    font-weight: 600;
                    color: #000;
               }

               .ant-alert-description {
                    .text {
                         font-family: Metropolis, sans-serif;
                    }

                    ul {
                         li {
                              list-style: disc;
                              list-style-position: inside;
                              padding-left: 5px;
                         }
                    }
               }
          }
     }

     .mocks-items {
          &.available-mocks {
               margin-bottom: 24px;

               .secondary-button {
                    &:hover {
                         background-color: transparent;
                         color: #0958D9;
                         border-color: #0958D9;
                    }
               }
          }

          .title {
               font-size: 20px;
               color: #312D42;
               font-weight: 600;
               margin-top: 10px;
          }

          .item {
               background-color: #FFF;
               border-radius: 8px;
               box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.02), 0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 1px 2px 0 rgba(0, 0, 0, 0.03);
               padding: 26px 31px;
               display: flex;
               align-items: center;
               justify-content: space-between;
               margin-bottom: 8px;
               flex-wrap: wrap;
               gap: 15px;
               font-family: Metropolis, sans-serif;

               strong {
                    color: #312D42;
                    ;
               }

               @media (max-width:767px) {
                    padding: 15px 20px;
               }

               &:not(:last-child) {
                    margin-bottom: 16px;
               }

               .secondary-button {
                    border-radius: 8px;
                    border: 1px solid #00000026;
                    font-size: 16px;
                    line-height: 24px;
               }

               .input-type {
                    padding: 8px 12px;
                    border-radius: 8px;

                    &:focus,
                    &.ant-input-affix-wrapper-focused {
                         box-shadow: none;
                    }

                    .anticon-lock svg {
                         fill: #00000073;
                    }
               }
          }
     }

     .performance-tab {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .completed-mocks {
               background-color: white;
               padding: 10px;
               display: flex;
               flex-direction: row;
               gap: 20px;
               @media (max-width:1040px){
                    flex-direction: column;
               }
               .results {
                    width: 60%;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    @media (max-width:1040px){
                         width: 100%;
                    }
                    .back-header {
                         gap: 5px;
                         display: flex;
                         font-size: 12px;
                         color: @med-gray-light;
                         font-weight: 600;
                         cursor: pointer;

                         svg {
                              width: 12px;
                              height: 14px;
                         }
                    }

                    .title {
                         font-size: 30px;
                         font-weight: bold;
                         color: @med-title-color;
                         margin-top: 5px;
                         line-height: 30px;
                    }

                    .question-item {
                         margin-top: 20px;

                         .question-title {
                              color: @med-title-color;
                              font-size: 16px;
                              font-weight: 600;
                         }

                         table {
                              margin-top: 5px;
                         }

                         .ant-table-footer {
                              padding: 0;
                         }

                         .footer-table {
                              display: flex;
                              @media (max-width:992px){
                                   flex-wrap: wrap;
                              }
                              .footer-label {
                                   padding: 15px;
                                   white-space: nowrap;
                              }

                              .footer-value {
                                   border-left: 1px solid #f0f0f0;
                                   padding: 15px;
                                   display: flex;
                                   flex-wrap: wrap;
                                   grid-gap: 5px;
                                   @media (max-width:992px){
                                        display: flex;
                                        flex-wrap: wrap;
                                        .value {
                                             min-width: 45px;
                                        }
                                   }
                                   .value {
                                        min-width: 35px;
                                        min-height: 35px;
                                        background-color: #a8e2c8;
                                        padding: 2px 8px;
                                        border-radius: 3px;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        font-size: 14px;
                                        color: @med-text-color;
                                        font-weight: 700;
                                        letter-spacing: 0;
                                        cursor: pointer;
                                        text-shadow: 2px 2px 2px #fff,0 0 1em #fff,0 0 .2em #fff;
                                        border: 1px dotted gray;
                                        &.red{
                                             background: url('../../assets/images/red.png') 100% repeat;
                                             background-color: #fff;
                                             background-size: cover;
                                        }
                                        &.orange{
                                             background: url('../../assets/images/orange.png') 100% repeat;
                                             background-color: #fff;
                                             background-size: cover;
                                        }
                                        &:hover {
                                             font-size: 16px;
                                             padding: 0px 6px;
                                             border: 1px solid #000;
                                        }
                                   }
                              }
                         }
                    }
               }

               .predicated {
                    width: 40%;
                    @media (max-width:1040px){
                         width: 100%;
                    }
                    .label-container {
                         border-bottom: 1px solid #f0f0f0;

                         .predicated-label {
                              font-size: 18px;
                              color: @med-text-color;
                              font-weight: 300;
                         }
                    }

                    .container {
                         margin-top: 15px;

                         .chart-container {
                              display: grid;
                              grid-template-columns: repeat(2, minmax(0, 1fr));
                              justify-content: center;
                              align-items: center;
                              gap: 10px;
                              margin-top: 10px;
                              @media (max-width:1150px){
                                   grid-template-columns: repeat(1, minmax(0, 1fr));
                                   justify-content: center;
                                   text-align:center;
                                   .chart-item{
                                        text-align:center;
                                        & > div{
                                             margin: 0 auto;
                                        }
                                   }
                              }
                              .chart-item {
                                   .chart-label {
                                        color: #000;
                                        font-size: 12px;
                                   }
                              }
                         }
                    }

                    .bar-chart {
                         margin-top: 20px;
                    }
               }
          }
     }
}
.progress-bar{
     display: flex;
     align-items: center;
     gap: 0;
     span{
          background-color: #32b878;
          display: inline-block;
          height: 10px;
          &.orange{
               background: url('../../assets/images/progress-orange.png') 100% repeat;
               background-color: #fff;
               background-size: contain;
         }
         &.red{
              background: url('../../assets/images/progress-red.png') 100% repeat;
              background-color: #fff;
              background-size: contain  ;
         }
     }
}

.small-date-time {
	font-size: 10px;
	font-style: italic;
}

.coming-soon {
     position: absolute;
     background: #dae8f5;
     opacity: 0.75;
     backdrop-filter: blur(8px);
     inset: 0;
     z-index: 9;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 23px;
     border-radius: 7px;
     color: #181041;
     font-weight: bolder;
     cursor: not-allowed;
}