.notifications-section{
  .notifications-section-title{
    margin: 24px 0;
    color: #312D42;
    font-weight: 600;
    font-size: 38px;
    font-family: Metropolis, sans-serif;
    font-style: normal;
    line-height: 1.21;
  }
}

.table-wrapper{
  max-width: 1032px;

  .table-actions{
    display: flex;
    justify-content: center;

    .table-btn-view{
      margin-right: 16px;
      color:  #FFF;
      font-weight: 400;
      font-size: 14px;
      font-style: normal;
      background:  #2816EE;
      border: 1px solid  #2816EE;
      border-radius: 6px;
      box-shadow: 0 2px 0 0 rgb(0 0 0 / 2%);
    }

    .table-btn-delete{
      background:  #FFF;
      border: 1px solid  rgb(0 0 0 / 15%);
      border-radius: 6px;
      box-shadow: 0 2px 0 0 rgb(0 0 0 / 2%);
    }
  }

}

.notification-text{
  margin: 0;
  color: #312D42;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 157%;

  .student-name{
    color: #312D42;
    font-weight: 600;
    font-size: 14px;
    font-style: normal;
    line-height: 22px;
  }
}

.ant-input-group > .ant-input:first-child, .ant-input-group-addon:first-child{
  border-radius: 8px 0 0 8px ;
}

.ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button{
  background-color: #2816EE;
  border-radius: 0 8px 8px 0;

}

.pagination{
  .ant-pagination-item{
    color: #312D42;
    font-weight: 600;
    font-size: 14px;
    font-style: normal;
    background-color: rgb(255 255 255 / 100%);
    border: none;
    border-radius: 6px;

  }

  .ant-pagination-item-active{
    color:  #2816EE;
    font-weight: 600;
    font-size: 14px;
    border: 1px solid  #2816EE;
    border-radius: 6px;

    & a{
      color: #2816EE;
    }
  }

  .ant-pagination-prev{
    border: none;
  }

}