[data-theme='compact'] .site-collapse-custom-collapse .site-collapse-custom-panel,
.site-collapse-custom-collapse .site-collapse-custom-panel {
  margin-bottom: 24px;
  overflow: hidden;
  background: #f7f7f7;
  border: 0px;
  border-radius: 2px;
}

.mock-interview-modal{
  .ant-modal-content{
    .ant-modal-footer{
      min-height: 81px;
      align-items: center;
    }
  } 
}

.mock-interview-modal {
  @media (max-width:767px){
    width: 100% !important;
    padding-bottom: 0;
    top: 2rem !important;
  }
  .md-w-full{
    @media (max-width:767px){
      width: 100% !important;
    }
  }
}
.session-details{
  .ant-row{
    @media (max-width:767px){
      flex-direction: column;
      gap: 13px;
    }
  }
}