.tutor-mock-section-wrap{
     .grid-col-2{
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
     }
     .display-f-24{
          display: flex;
          gap: 24px;
     }
}

@media (max-width:992px){
     .tutor-mock-section-wrap{
          .display-f-24{
               flex-wrap: wrap;
               margin-top: 24px;
          }
     }
}
