.sign-in {
    display: flex;
    height: 90vh;
    background-color: #F5F5F5;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: @screen-md-max) {
      padding: 25px 20px;
      height: 95vh !important;
      text-align: center;
      // justify-content: center;
      .sign-in-left-title-wrap{
        width: 100%;
      }
    }
  
    .sign-in-left {
      width: 58%;
  
      @media (max-width:992px) {
        width: 100%;
      }
  
      .sign-in-left-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
  
        .sign-in-left-title-wrap {
          .sign-in-left-title {
            width: 392px;
            color: #312D42;
            font-weight: 600;
            font-size: 38px;
            font-style: normal;
            line-height: 121%;
            margin-top: 30px;
            @media screen and (max-width: @screen-md-max) {
              font-size: 35px;
              margin-top: 20px;
              width: 100%;
              text-align: center;
            }
          }
  
          .sign-in-left-subtitle {
            color: #312D42;
            font-weight: 600;
            font-size: 20px;
            font-style: normal;
            line-height: 140%;
          }
        }
  
        .sign-in-left-remember {
          display: flex;
          justify-content: space-between;
          margin: 13px 0 0;
  
          span {
            color: #312D42;
            font-weight: 400;
            font-size: 14px;
            font-style: normal;
            line-height: 157%;
          }
  
          .sign-in-left-remember-forgot {
            color: #2816EE;
            font-weight: 400;
            font-size: 16px;
            font-style: normal;
            line-height: 150%;
          }
        }
  
        .btn-text span {
          color: #9096AE;
          font-weight: 400;
          font-size: 16px;
          font-style: normal;
          line-height: 150%;
        }
      }
    }
  
    .sign-in-right {
      width: 42%;
      height: auto;
      background: #1E1450;
    }
  
  }
  @media screen and(max-width:769px) {
    .sign-in-right{
      display: none;
  
    }
  }
  .sign-in-form{
    width: 100%;
    .ant-form-item {
      .ant-form-item-control{
        max-width: 100%;
      }
    }
    .ant-btn{
      height: auto;
      line-height: 30px;
      border: 1px solid #D6D7E0;
      background-color: rgba(0, 0,0, 0.04);
    }
  }
  @media (max-width:767px){
    .sign-in{
      flex-wrap: wrap;
      .sign-in-left {
        width: 100%;
      }
    }
  }