.stats-btn {
    background-color: #2816EE;
    border-radius: 8px;
}

.dropdown-menu {
    margin-right: 10px;
}
.div-style {
    margin-bottom: 10px;
}
.option-dropdown-menu{
    border-radius: 6px;
}

.mr_1{
    margin-right: 10px;
}
.cart_body{
    .ant-tag{
        border-radius: 4px;
    }
    border-radius: 6px;
    overflow: hidden;
    padding-bottom: 0;
    .ant-card-head-title{font-weight: 600;}
    .ant-card-body{
        padding-top: 10px !important;
        padding: 16px 24px;
        max-height: 516px;
        overflow: auto;
        .ant-typography{
            p{
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }    
    }
    .d_flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 24px;
    }
    .cancel_btn{
        border: 0;
        color: #2816EE;
        &:hover, &:focus{background-color: transparent;}
    }
}
.reading_trainer{
    .ant-form-item{
        &:last-child{
            margin-bottom: 0;
        }
        .ant-form-item-label{
            label{
                font-weight: 400;
                font-size: 14px;
            }
        }
        .radio_buttons{
            margin-left: 16px;
            .ant-row{
                label{
                    font-size: 14px;
                }
            }
        }
    }
}
.ant-radio-group{
    &.radio_buttons{
        display: flex;
        flex-direction: column;
        gap: 16px;

    }
}

.minute_accuracy{
    display: flex;
    gap: 32px;
}
.upcoming-session {
    .trainer_options{
        width: auto;
        padding: 24px; 
        .con-box-title{
            font-size: 16px;
        }
        .con-box-wrap{
            width: auto;
            box-shadow: none;
            padding: 0;
            .ant-empty{
                margin-bottom: 16px;
            }
        }  
        .ant-empty-image{
            height: auto;
            svg{
                width: 184px;
            }
        }
    }
}

.loader-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    .ant-spin-dot{
        font-size: 70px;
        i{
            width: 25px;

            height: 25px;
        }
    }
}





