.education-section{
      .education-section-title{
        color: #6B7393;
        font-weight: 600;
        font-size: 24px;
        font-style: normal;
        line-height: 133%;
        margin-bottom: 21px
      }
}

.education-form{
  width: 592px;
  padding: 32px !important;
  background-color: #FFF;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 2%), 0 1px 6px -1px rgb(0 0 0 / 2%), 0 1px 2px 0 rgb(0 0 0 / 3%);
  .ant-form {
    .ant-form-item {
      .ant-row {
        align-items: start;
      }
    }
  }
  .education-form-item{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .label{
      margin: 0;
      color: #312D42;
      font-weight: 600;
      font-size: 16px;
      font-style: normal;
      line-height: 150%;

    }

  }
}


.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 8px;
}

.education-button-wrap{
  display: flex;
  justify-content: center;


  .form-button{
    margin-right: 16px;
    color:  #FFF;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    background:  #2816EE;
    border: 1px solid #2816EE;
    border-radius: 6px;
    box-shadow: 0 2px 0 0 rgb(0 0 0 / 2%);
  }
}


@media (max-width:767px){
  .education-form{
    width: 100%;
  }
}