.app-review-table-wrap{
  margin: 24px 0 0;

    .app-review-table{
      margin: 32px 0 0;
      border-radius: 8px;

      .table-col-title{
        margin: 0;
        color: #312D42;
        font-weight: 600;
        font-size: 14px;
        font-family: Metropolis, sans-serif;
        font-style: normal;
        line-height: 1.57;
      }
    }

}

.ant-tabs-tab-btn{
  color: #312D42;
  font-weight: 400;
  font-size: 16px;
  font-family: Metropolis,sans-serif;
  font-style: normal;
  line-height: 1.5;
}

.table-col-action-btn-check{
  padding: 5px 16px;
  color: #312D42;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.57;
  background: #FFF;
  border: 1px solid  rgb(0 0 0 / 15%);
  border-radius: 6px;
  box-shadow: 0 2px 0 0 rgb(0 0 0 / 2%);
  cursor: pointer;
}

.table-col-action-btn-review{
  padding: 5px 16px;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.57;
  background: #2816EE;
  border: 1px solid  rgb(0 0 0 / 15%);
  border-radius: 6px;
  box-shadow: 0 2px 0 0 rgb(0 0 0 / 2%);
  cursor: pointer;
}


.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
  color: #2816EE;
  font-weight: 600;
  font-size: 16px;
  font-family: Metropolis,sans-serif;
  font-style: normal;
  line-height: 1.5;
}

.deadline{
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
}

.green-status {
  padding: 4px 8px;
  color: #52C41A;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  border: 1px solid  #B7EB8F;
  border-radius: 4px;
}

.blue-status {
  padding: 4px 8px;
  color: #2F54EB;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  border: 1px solid  #ADC6FF;
  border-radius: 4px;
}

.table-col-action-btn{
  padding: 5px 16px;
  color:  #2816EE;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
  background-color: rgb(255 255 255);
  border: 1px solid  #2816EE;
  border-radius: 6px;
  outline: none;
  box-shadow: none;
  cursor: pointer;

}

.pagination{
  .ant-pagination-item{
    color: #312D42;
    font-weight: 600;
    font-size: 14px;
    font-style: normal;
    background-color: rgb(255 255 255 / 100%);
    border: none;
    border-radius: 6px;

  }

  .ant-pagination-item-active{
    color:  #2816EE;
    font-weight: 600;
    font-size: 14px;
    border: 1px solid  #2816EE;
    border-radius: 6px;

    & a{
      color: #2816EE;
    }
  }

  .ant-pagination-prev{
    border: none;
  }

}





