.ant-radio-disabled {
  display:none;
}

.ant-radio-disabled + span {
  color:#000 !important;
  padding-left:0 !important;
  padding-right:0 !important;
  cursor: text !important;
}

.ant-modal-body .ant-form .ant-form-item .ant-row {
  align-items: center !important;
}

.ant-modal-wrap .ant-modal-content .ant-modal-body .ant-form .ant-form-item .ant-form-item-control {
  max-width: 100% !important;
  width: 100% !important;
  align-items: center !important;
}

.ant-radio-wrapper-disabled {
	cursor: text !important;
	margin: 0 !important;
}

.ant-modal-wrap .ant-modal-content .ant-modal-body .ant-form .ant-form-item .ant-radio-group {
	display: flex;
	row-gap: 8px !important;
	flex-direction: column;
}
