.steps-upload{
  max-width: 392px;

  .steps-upload-text{
    margin: 8px 0 0;
    color: #465078;
    font-weight: 400;
    font-size: 14px;
    font-family: Metropolis, sans-serif;
    line-height: 1.57;
  }

  .upload-title{
    display: flex;
    align-items: baseline;

  .upload-text{
    margin-top: 24px;
  }

    .upload-title-icon{
      position: relative;
      top: 3px;
      margin-left: 5px;
      cursor: pointer;
    }
  }

  .steps-upload-field{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F5F5F5;
    border: 1px dashed #B5B9C9;
    border-radius: 6px;

  }

  .steps-upload-field-icon{
    margin-top: 22px;
  }

  .steps-upload-field-title{
    margin: 22px 0 0;
    color: #312D42;
    font-weight: 400;
    font-size: 16px;
    font-family: Metropolis, sans-serif;
    line-height: 1.5;
  }

  .steps-upload-field-text{
    margin: 4px 0 16px;
    color: #9096AE;
    font-weight: 400;
    font-size: 14px;
    font-family: Metropolis, sans-serif;
    line-height: 1.57;
  }


}

.init-draft-loaded-file{
  .init-draft-loaded-file-title{
    margin: 8px 0 0;
    color: #312D42;
    font-weight: 400;
    font-size: 14px;
    font-family: Metropolis, sans-serif;
    font-style: normal;
    line-height: 1.57;

  }

  .init-draft-loaded-preview-link{
    display: flex;
    align-items: center;
    margin: 8px 0 0;
    padding: 8px 0;
    cursor: pointer;

    .init-draft-loaded-preview-icon{
      font-size: 22px;
    }

    .init-draft-loaded-preview-name{
      margin: 0 0 0 8px;
      color:  #2816EE;
      font-weight: 400;
      font-size: 14px;
      font-family: Metropolis, sans-serif;
      font-style: normal;
      line-height: 1.57;
    }
  }
}