.application-info-section {
  .application-info-section-title {
    color: #6B7393;
    font-weight: 600;
    font-size: 24px;
    font-style: normal;
    line-height: 133%;
    margin-bottom: 21px;
  }
}


.application-info-form {
  width: 680px;
  padding: 32px !important;
  background-color: #FFF;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 2%), 0 1px 6px -1px rgb(0 0 0 / 2%), 0 1px 2px 0 rgb(0 0 0 / 3%);
  @media (max-width:992px){
    width: 100%;
    padding: 20px !important;
    .ant-form-item{
      .ant-form-item-row{
        flex-direction: column;
        .ant-form-item-control{
          width: 100%;
          max-width: 100%;
          .input{
            width: 100%;
          }
        }
        .ant-col{
          min-height: auto;
        }
      }
    }
  }
  .ant-form-item {
    input {
      height: 40px !important;
    }
  }

  .application-info-form-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .label {
      margin: 0;
      color: #312D42;
      font-weight: 600;
      font-size: 16px;
      font-style: normal;
      line-height: 150%;

    }

    .input {
      width: 328px;
      color: rgb(0 0 0 / 88%);
      font-weight: 400;
      font-size: 16px;
      font-style: normal;
      line-height: 150%;
      background-color: #FFF;
      border: 1px solid rgb(0 0 0 / 15%);
      border-radius: 8px;
    }

  }
}


.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 8px;
}

@media (max-width:767px) {
  .application-info-section {
    .application-info-form {
      max-width: 100%;
    }
  }
}