.tutor-profile-picture-section{
  .profile-picture-title{
    color: #6B7393;
    font-weight: 600;
    font-size: 24px;
    font-style: normal;
    line-height: 133%;
    margin-bottom: 21px;
  }
  .profile-picture-block-btn-remove{
    &:hover{
      background:  #2816EE;
      border: 1px solid  #2816EE;
      color: #fff;
    }
  }
  .profile-picture-block-btn-change{
    &:hover{
      
      border: 1px solid  #2816EE;
      color: #2816EE;
    }
  }
}

.profile-picture-wrap{
  width: 416px;
  padding: 32px 0;
  background-color: #FFF;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 2%), 0 1px 6px -1px rgb(0 0 0 / 2%), 0 1px 2px 0 rgb(0 0 0 / 3%);

  .profile-picture-block{
      width: 240px;
      margin: 32px 88px;
      text-align: center;

    .profile-picture-block-text{
      color: #6B7393;
      font-weight: 400;
      font-size: 14px;
      font-style: normal;
      line-height: 157%;
      text-align: center;
    }
  }
}

.profile-picture-block-btn-change,
.link-to-profile {
  margin-right: 8px;
  color:  #FFF;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
  background:  #2816EE;
  border: 1px solid  #2816EE;
  border-radius: 6px;
  box-shadow: 0 2px 0 0 rgb(0 0 0 / 2%);
}

.profile-picture-block-btn-remove,
.close-modal {
  color: #312D42;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
  background:#FFF;
  border: 1px solid  rgb(0 0 0 / 15%);
  border-radius: 6px;
  box-shadow: 0 2px 0 0 rgb(0 0 0 / 2%);
}

@media (max-width:992px){
  .tutor-profile-picture-section{
    margin-top: 40px;
    .profile-picture-wrap{
      width: 592px;
    }
  }
}
@media (max-width:767px){
  .tutor-profile-picture-section{
    .profile-picture-wrap{
      width: 100%;
      padding: 20px;
      .profile-picture-block {
        margin: 0 auto;
      }
    }
  }
}