.working-section{
  .working-section-title{
    color: #6B7393;
    font-weight: 600;
    font-size: 24px;
    font-style: normal;
    line-height: 133%;
    margin-bottom: 21px;
  }
}

.working-form{
  width: 592px;
  padding: 32px ;
  background-color: #FFF;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 2%), 0 1px 6px -1px rgb(0 0 0 / 2%), 0 1px 2px 0 rgb(0 0 0 / 3%);
  .ant-form-item{
    margin-bottom: 32px;
    .ant-row {
      .ant-form-item-control{
        max-width:inherit;
      }
      .time-actions-group{
        margin-top: 7px;
      }
      .time-input-group{
        .input{
          min-height: 40px;
        }
      }
      

    }
  }
  .label{
    margin: 0;
    color: #312D42;
    font-weight: 600;
    font-size: 16px;
    font-style: normal;
    line-height: 150%;

  }

  .working-form-item{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;


    .time-wrap{
      .time-input-group{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 340px;
        margin-bottom: 16px;
      }

    }

    .input{
      width: 328px;
      color: rgb(0 0 0 / 88%);
      font-weight: 400;
      font-size: 16px;
      font-style: normal;
      line-height: 150%;
      background-color: #FFF;
      border: 1px solid  rgb(0 0 0 / 15%);
      border-radius: 8px;
    }
  }
}

.time-actions-group{
  display: flex;
  margin-top: 16px;

  .time-actions-group-switch-wrap{
    display: flex;
    align-items: center;

    .switch-text{
      margin: 0 0 0 8px;
    }
  }

  .time-actions-btn{
    margin-left: 32px;
    color: #312D42;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    background: none;
    border: none;
    box-shadow: none;

  }
}

.m0{
  margin: 0 !important;
}
@media (max-width: 767px){
  .working-form{
    width: 100%;
    .ant-form-item{
      .ant-form-item-control-input-content{
        &>div{
          flex-wrap: wrap;
        }
        .label{
          min-width: 100%;margin-bottom: 10px;
        }
        .time-input-group{
          width: 100%;
          gap:10px;
        }
      }
    }
  }
}