.upc-agenda{
     .con-box-wrap{
          width: 680px;
          height: 315px;
          overflow: auto;
     }
}
.list-disc {
    list-style: disc !important;
    list-style-position: inside !important;
}
.session-last-details{
     
}