@import url("../../../components/app/index.less");


.steps-progress-first {
  .steps-progress-first-text {
    color: @text-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.57;
  }

  .steps-upload-text.tutor {
    margin-top: 24px;

    .bold {
      margin-left: 8px;
      color: @med-btn-text-color;
      font-weight: 600;
    }
  }

  .steps-progress-first-btn{
    margin: 8px 0 12px;
    color: @med-btn-text-color;
    border-radius: 6px;
    box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
  }
}
