.buffer-time-section{
  .buffer-time-section-title{
    color: #6B7393;
    font-weight: 600;
    font-size: 24px;
    font-style: normal;
    line-height: 133%;
    margin-bottom: 21px;
  }
}

.buffer-time-form{
  width: 416px;
  padding: 40px 32px 32px !important;
  background-color: #FFF;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 2%), 0 1px 6px -1px rgb(0 0 0 / 2%), 0 1px 2px 0 rgb(0 0 0 / 3%);
}

.buffer-time-form-item{
  display: flex;

.label{
  margin: 0;
  color: #312D42;
  font-weight: 600;
  font-size: 16px;
  font-style: normal;
  line-height: 150%;
}

  .buffer-time-checkboxes{
    display: flex;
    flex-direction: column;
    margin-left: 63px;
    @media (max-width:767px) {
      margin-left: 25px;
    }
    .buffer-time-checkbox{
      margin-bottom: 16px;
    }
  }
}

@media (max-width:992px) {
  .buffer-time-form{
    width: 100% !important;
    padding: 20px !important;
  }
}