@font-face {
    font-family: Metropolis;
    src: url('../../fonts/Metropolis.woff2') format('woff2');
  }
  @drawer-header-padding: 24px;
  @layout-body-background: #fafbfb;
  @layout-footer-height: @layout-header-height;
  
  @headings-font-family: "Metropolis", sans-serif;
  @text-font-family: "Metropolis", sans-serif;
  
  @font-family: @text-font-family;
  @layout-footer-padding: 0;
  @layout-header-background: transparent;
  @layout-header-height: 64px;
  @layout-header-padding: 0;
  @menu-bg: @layout-header-background;
  @menu-horizontal-line-height: calc(@menu-item-height / 2);
  @text-color: #465078;
  
  @med-primary-color: #364457;
  @med-accent-color: #3d6deb;
  @med-text-color: #3b3a42;
  @med-title-color: #1f1c25;
  @med-btn-text-color: #1f1c25;
  @med-blue-light: #a6c0e8;
  @med-blue-dark: #516a92;
  @med-gray-light: #77787d;
  @med-gray-lighten: #d9d9d9;
  @med-main-btn: #2816EE;
  @med-main-background: #1E1450;
  @card-shadow: 0px 10px 24px rgba(0, 0, 0, 0.12);


.ant-form-item-required{
    &:after{
      display: inline-block;
      margin-right: 4px;
      color: #ff4d4f;
      font-size: 14px;
      font-family: SimSun, sans-serif;
      line-height: 1;
      content: '*' !important;
    }
    &:before{
      display: none !important;
    }
}
.education-form-item.add-item-btn{
  width: 352px;
  margin-left: auto;
}

.add-item-btn{
  width: 352px;
  margin-left: auto;
  button.ant-btn{
    color: #312D42;
    background-color: transparent;
    border: 0;
    padding: 0;
  }
}


@media (max-width:767px){
  .ant-form{
    .ant-form-item{
      .input{
        width: 100% !important;
      }
      .ant-select.ant-select-in-form-item{
        max-width: 320px;
        width: 100% !important;
      }

    } 

  } 

}