

  @font-face {
    font-family: Metropolis;
    src: url('../../fonts/Metropolis.woff2') format('woff2');
  }

  @drawer-header-padding: 24px;
  @layout-body-background: #fafbfb;
  @layout-footer-height: @layout-header-height;
  
  @headings-font-family: "Metropolis", sans-serif;
  @text-font-family: "Metropolis", sans-serif;
  
  @font-family: @text-font-family;
  @layout-footer-padding: 0;
  @layout-header-background: transparent;
  @layout-header-height: 64px;
  @layout-header-padding: 0;
  @menu-bg: @layout-header-background;
  @menu-horizontal-line-height: calc(@menu-item-height / 2);
  @text-color: #465078;
  
  @med-primary-color: #364457;
  @med-accent-color: #3d6deb;
  @med-text-color: #3b3a42;
  @med-title-color: #1f1c25;
  @med-btn-text-color: #1f1c25;
  @med-blue-light: #a6c0e8;
  @med-blue-dark: #516a92;
  @med-gray-light: #77787d;
  @med-gray-lighten: #d9d9d9;
  @med-main-btn: #2816EE;
  @med-main-background: #1E1450;
  @card-shadow: 0px 10px 24px rgba(0, 0, 0, 0.12);
  @text-white: #ffffff;
  @text-color:#312D42




body{
  font-family: Metropolis, sans-serif;
}
h1,h2,h3,h4,h5,h6, ul, li, ol{
  font-family: Metropolis, sans-serif;
}


.ant-form-item-required{
    &:after{
      display: inline-block;
      margin-right: 4px;
      color: #ff4d4f;
      font-size: 14px;
      font-family: SimSun, sans-serif;
      line-height: 1;
      content: '*' !important;
    }
    &:before{
      display: none !important;
    }
}
.education-form-item.add-item-btn{
  width: 352px;
  margin-left: auto;
}

.add-item-btn{
  width: 352px;
  margin-left: auto;
  button.ant-btn{
    color: #312D42;
    background-color: transparent;
    border: 0;
    padding: 0;
  }
}
.time-actions-group-switch-wrap{
  .ant-switch-checked {
    background-color:   @med-main-btn;
  }
}
.switch-wrap{
  .ant-switch-checked{
    background-color: @med-main-btn;
  }
}
.ant-radio-wrapper {
  .ant-radio.ant-radio-checked {
    .ant-radio-inner{
      border-color: @med-main-btn;
      &:after{
       background-color:  @med-main-btn;
      }
    }
  }
}
.ant-checkbox-wrapper{
  .ant-checkbox-checked{
    .ant-checkbox-inner{
      background-color: @med-main-btn;
      border-color: @med-main-btn;
    }
  }
}
.ant-form{
  .ant-form-item{
    .input{
      width: 352px;
      color: rgb(0 0 0 / 88%);
      font-weight: 400;
      font-size: 16px;
      font-style: normal;
      line-height: 30px;
      background-color: #FFF;
      border: 1px solid  rgb(0 0 0 / 15%);
      border-radius: 8px;
    }
    .ant-form-item-label{
      label{
        font-size: 16px;
        font-weight: 600;
      }
    }
    .ant-row{
        justify-content: space-between;
        align-items: center;
    }
     .ant-select.ant-select-in-form-item {
      width: 352px !important;
      height: 40px;
    }
    .ant-select-selector {
      height: 40px;
      align-items: center;
    }
    .ant-form-item-control{
      max-width: 352px; 
    }
  }
}
.ant-form-item-control{
  .ant-switch-checked{
    background-color: @med-main-btn;
  }
}

.anticon-minus-circle{
  svg {
    path{
      fill: #C92A2A;
      &+path{ 
        fill:#D6D7E0;
      }
    }
  }
}
.ant-checkbox-wrapper{
  .ant-checkbox-inner{
    border-radius: 4px;
  }
}

.tab-title{
  margin: 24px 0 20px 0;
  color: #312D42;
  font-weight: 600;
  font-size: 38px;
  font-family: @headings-font-family;
  font-style: normal;
  line-height: 1.21;
}
.secondary-title{ 
  color: #6B7393;
  font-weight: 600;
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 21px;
  svg{
    width: 20px;
    height: 20px;
    fill: rgba(0, 0, 0, 0.45);
  }
}
.con-section-wrap{
  max-width: 1032px;
}
.con-box{
  .con-box-wrap {
    padding: 32px;;
    background-color: #FFF;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.02), 0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 1px 2px 0 rgba(0, 0, 0, 0.03);
    .con-box-title{
      color: #312D42;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 16px;
    }
  }
}
.btn-group{
  display: flex;
  gap: 8px;
  align-items: center;
}
.primary-button{
  padding: 8px 16px;
  border-radius: 8px;
  background-color: @med-main-btn;
  height: auto;
  color: @text-white;
  border: 0 !important;
  &:hover, &:active, &:focus{
    background-color: @med-main-btn;
    color: @text-white;
    opacity: 0.85;
  }
}
.secondary-button{
  padding: 8px 16px;
  border-radius: 8px;
  background-color: @text-white;
  height: auto;
  color: @text-color;
  border: 1px solid rgba(0, 0, 0, 0.15);
  &:hover,&:focus,&:active{
    background-color: @med-main-btn;
    border-color:  @med-main-btn !important;
    color: @text-white;
  }
}
.ant-tabs {
  .ant-tabs-nav{
    &:before{
      border-color: #D6D7E0;
    }
  }
  .ant-tabs-nav-list{
    .ant-tabs-ink-bar{
      background: @med-main-btn;
    }

  }
}
.list-disc {
  list-style: disc !important;
  padding-left: 15px !important;
  li{
    margin-bottom: 8px;
    color: #465078;
    &:last-child{
      margin-bottom: 0;
    }
  }
}
.ant-modal-wrap{
  .ant-modal-content{
    border-radius: 8px;
    .ant-modal-close{
      &:hover{
        svg{
          fill: @med-main-btn;
        }
      }
    }
    .ant-modal-header{
      border-radius: 8px 8px 0 0;
      box-shadow: 0px 4px 20px 0px #383A480A;
      .ant-modal-title{
        text-align: center;
        font-weight:600;
        font-size: 20px;
        color: @text-color;
      }
    }
    .ant-modal-body{
      background-color: #F5F5F5;
      text-align: left;
      padding: 24px 22px;
      @media (max-width:767px){
        padding: 24px 10px;
      }
      .ant-form{
        .ant-form-item{
          padding: 0 10px;
          .ant-radio-group{
            display: flex;
            row-gap: 13px;
            flex-direction: column;
          }
          .ant-form-item-control{
            max-width: 100%;
          }
          .ant-row{
            align-items: start;
              .ant-select{
                width: 100% !important;
                .ant-select-selector{
                  border-radius: 8px;
                }
              }
          }
        }
      }
    }
    .ant-modal-footer{
      text-align: center;
      position: relative;
      padding: 29px 20px;
      box-shadow: 0px -4px 20px 0px #383A480A;
      color: #6B7393;
      .ant-btn{
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
      }
    }

  }
}
.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input){
  .ant-select-selector{
    border-color: @med-main-btn;
    box-shadow: 0 0 0 2px rgba(40, 22, 238, 0.2);
  }
} 
.ant-select:not(.ant-select-disabled):hover{
  .ant-select-selector{
    border-color: @med-main-btn;
  }
}


// Responsive
@media (max-width:767px){
  .ant-form{
    .ant-form-item{
      .input{
        width: 100% !important;
      }
      .ant-select.ant-select-in-form-item{
        max-width: 320px;
        width: 100% !important;
      }

    } 

  } 

}

