.session-preview{
     .con-box-wrap{
          height: 620px;
          overflow: auto;
          .session-preview-wrap{
               height: 100%;
               display: flex;
               justify-content: center;
               align-items: center;
               flex-direction: column;
               text-align: center;
               .title{
                    font-size: 20px;
                    color: #312D42;
                    font-weight: 600;
                    margin-top: 24px;
                    margin-bottom: 5px;
               }
               .text{
                    color: #6B7393;
               }
          }
     }
}

@media (max-width: 767px) {
     .session-preview{
          margin-top: 40px;
     }
}