


.tutor-app-review-section-title{
  .tutor-app-review-section-title{
    margin: 24px 0 0;
    color: #312D42;
    font-weight: 600;
    font-size: 38px;
    font-family: Metropolis, sans-serif;
    font-style: normal;
    line-height: 1.21;
  }
}