.d_flex_10{
    display: flex;
    gap: 10px;
}
.anticon{
    &.anticon-edit{
        svg{
            fill: #444;
        }
    }
}
.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;  // Or any height that fits your design
  }
