@import url("../../../components/app/index.less");

.initial-draft-download{
  .initial-draft-download-text{
    margin-top: 8px;
    color: @med-btn-text-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.57;
  }

  .initial-draft-download-preview-file{
    display: flex;

    .initial-draft-download-preview-tex{
      margin-left: 8px;
      color: @med-main-btn;
    }
  }

  .med-custom-button-download{
    margin: 14px 0;
    padding: 5px 16px;
    color: #fff;
    background-color: @med-main-btn;
    border-radius: 6px;
  }
}
