.applications-section{
  .applications-section-title{
    color: #6B7393;
    font-weight: 600;
    font-size: 24px;
    font-style: normal;
    line-height: 133%;
    margin-bottom: 21px;
  }
}

.applications-wrap{
  width: 592px;
  padding: 32px;
  background-color: #FFF;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 2%), 0 1px 6px -1px rgb(0 0 0 / 2%), 0 1px 2px 0 rgb(0 0 0 / 3%);

  .applications-item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;

    &:last-child{
      margin-bottom: 0;
    }

    .applications-text-block{
      .applications-title{
        margin: 0;
        color: #312D42;
        font-weight: 600;
        font-size: 16px;
        font-style: normal;
        line-height: 150%;
      }

      .applications-subtitle{
        margin: 0;
        color: #6B7393;
        font-weight: 400;
        font-size: 14px;
        font-style: normal;
        line-height: 157%;
      }
    }

    .applications-actions{
      display: flex;

      .applications-actions-btn-more{
        color: rgb(0 0 0 / 88%);
        font-weight: 400;
        font-size: 14px;
        font-style: normal;
        background:  #FFF;
        border: 1px solid rgb(0 0 0 / 15%);
        border-radius: 6px;
        box-shadow: 0 2px 0 0 rgb(0 0 0 / 2%);
      }

      .applications-actions-btn-heart{
        margin-left: 8px;
        color: rgb(0 0 0 / 88%);
        font-weight: 400;
        font-size: 14px;
        font-style: normal;
        background:  #FFF;
        border: 1px solid rgb(0 0 0 / 15%);
        border-radius: 6px;
        box-shadow: 0 2px 0 0 rgb(0 0 0 / 2%);
      }
    }
  }

}

@media (max-width:767px){
  .applications-section{
    .applications-wrap{
      width: 100%;
      padding: 20px;
      .applications-item {
          flex-wrap: wrap;
        .applications-text-block {
          min-width: 100%;
          margin-bottom: 10px;
        }
      }
    }
  }
}