.student-profile-section-title{
  margin: 24px 0 0;
  color: #312D42;
  font-weight: 600;
  font-size: 38px;
  font-family: Metropolis, sans-serif;
  font-style: normal;
  line-height: 1.21;
}

.student-profile-section-wrap{
  max-width: 1032px;

  .custom-tab{
    color: #312D42;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 150%;
  }
}

.top-form-group{
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  @media screen and(max-width:1420px){
    display: block;
  }

  .top-form-group-right{
      .my-team-section{
        margin-top: 40px;
      }
  }
}

.biography-section{
  margin-top: 40px;
}

.personality-section{
  margin-top: 40px;
}

.applications-section{
  margin-top: 40px;
}

.application-info-section{
  margin-top: 32px;
}

.extra-info-section{
  margin-top: 40px;
}