.student-profile-section-title{
  margin: 24px 0 0;
  color: #312D42;
  font-weight: 600;
  font-size: 38px;
  font-family: Metropolis, sans-serif;
  font-style: normal;
  line-height: 1.21;
}

.student-profile-section-wrap{
  max-width: 1032px;

  .custom-tab{
    color: #312D42;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 150%;
  }
}

.top-form-group{
  display: flex;
  justify-content: space-between;
  margin-top: 13px;
  @media screen and(max-width:1420px){
    display: block;
  }

  .top-form-group-right{
      .my-team-section{
        margin-top: 40px;
      }
  }
}


.application-info-section{
  margin-top: 13px;
}


.ant-tabs{
  .ant-tabs-nav{
    &:before{
      border-color: #D6D7E0;
    }
    .ant-tabs-tab{
      .ant-tabs-tab-btn{
        font-size: 16px;
        color: #312D42;
      }
      &.ant-tabs-tab-active {
        .ant-tabs-tab-btn{
          color: #2816EE;
          font-weight: 600;
        }
      }
    }
    .ant-tabs-nav-list{
      .ant-tabs-ink-bar{
        background: #2816EE;
      }
    }
  }
}


.button-space {
  margin-left: 10px; /* Adjust the value to control the amount of space */
}