.upc-agenda{
     .con-box-wrap{
          width: 680px;
          height: 315px;
          overflow: auto;
     }
}

@media (max-width:992px){
     .upc-agenda{
          .con-box-wrap{
               width: 100%;
          }
     }
}