.personality-section{
  .personality-section-title{
    color: #6B7393;
    font-weight: 600;
    font-size: 24px;
    font-style: normal;
    line-height: 133%;
    margin-bottom: 21px;
    .anticon-question-circle{
      width: 20px;
      height: 20px;
      position: relative;
      bottom: -3px;
      svg{
        color: rgba(0,0,0,0.45);
      }
    }
  }
}

.personality-wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 592px;
  padding: 32px;
  background-color: #FFF;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 2%), 0 1px 6px -1px rgb(0 0 0 / 2%), 0 1px 2px 0 rgb(0 0 0 / 3%);
  @media (max-width:992px){
    width: 100%;
    padding: 20px;
  }
  .personality-info{
    display: flex;
    align-items: center;
      .ant-avatar-icon{
        border: 1px solid #000;
      }
    .personality-info-text-block{
      margin-left: 32px;

      .personality-info-title{
        margin: 0;
        color: #2816EE;
        font-weight: 600;
        font-size: 24px;
        font-style: normal;
        line-height: 133%;
      }

      .personality-info-subtitle{
        margin: 0;
        color: #312D42;
        font-weight: 400;
        font-size: 14px;
        font-style: normal;
        line-height: 157% ;
      }

      .personality-info-text{
        margin: 4px 0 0 ;
        color: #465078;
        font-weight: 600;
        font-size: 16px;
        font-style: normal;
        line-height: 150%;
      }
    }
  }

  .personality-actions{
    display: flex;
    flex-direction: column;

    .personality-actions-btn-retake{
      font-weight: 400;
      font-size: 14px;
      font-style: normal;
      background: #FFF;
      border: 1px solid rgb(0 0 0 / 15%);
      border-radius: 6px;
      box-shadow: 0 2px 0 0 rgb(0 0 0 / 2%);
      &:hover{
        color: #FFF;
        background: #2816EE;
        border: 1px solid  #2816EE;
      }
    }

    .personality-actions-btn-learn{
      margin-top: 16px;
      color: #FFF;
      font-weight: 400;
      font-size: 14px;
      font-style: normal;
      background: #2816EE;
      border: 1px solid  #2816EE;
      border-radius: 6px;
      box-shadow: 0 2px 0 0 rgb(0 0 0 / 2%);
    }
  }
}

@media (max-width:767px){
  .personality-section {
    .personality-wrap{
      width: 100%;
      padding: 20px !important;
      .personality-info-text-block{
        margin-left: 15px;
      }
      .personality-info{
        .ant-avatar{
            width: 85px !important;
            height: 85px !important;
            line-height: 85px !important;
            font-size: 32px !important;
        }
  
      }
    }
  }
}
.coming-soon {
  position: absolute;
  background: #dae8f5;
  opacity: 0.75;
  backdrop-filter: blur(8px);
  inset: 0;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  border-radius: 7px;
  color: #181041;
  font-weight: bolder;
  cursor: not-allowed;
}