.session-summary{
     ul{
          li{
               margin-bottom: 8px;
               color: #465078;
               &:last-child{
                    margin-bottom: 0;
               }
          }
     }
     .upload-file{
          .ant-upload-select{
               padding: 16px;
               height: auto;
               width: 100%;
               background-color: #F5F5F5;
               border-radius: 6px;
               border:1px dashed #B5B9C9;
               text-align: center;
               cursor: pointer;
          }
          .ant-upload-list-item-info{
               margin-top: 4px;
               padding: 8px 3px;
               height: auto;
               background-color: rgba(0,0,0, 0.04);
               .ant-upload-text-icon{
                    svg{
                         fill:#9096AE;
                    }
               }
               .ant-upload-list-item-name{
                    color: #2816EE;
               }
               .ant-btn{
                    border: 0;
                    border-radius: 5px;
                    background-color: transparent !important;
                    &:hover svg{
                         fill: #2816EE;
                    }
                    svg{
                         width: 16px;
                         height: auto;
                         fill: rgba(0,0,0, 0.45);
                    }
               }
          }
     }
     .ant-form {
          .ant-form-item{
               .ant-form-item-control{
                    max-width: 100%;
               }
               .ant-btn{
                    background-color: #F5F5F5;
                    border-color: #B5B9C9;
                    color: #9096AE;
                    &:hover{
                         color: #fff;
                         background-color: #2816EE;
                    }
               }
          } 
     }
}