.biography-section{
  .biography-section-title{
    color: #6B7393;
    font-weight: 600;
    font-size: 24px;
    font-style: normal;
    line-height: 133%;
    margin-bottom: 21px;
  }
}

.biography-wrap{
  width: 592px;
  padding: 32px;
  background-color: #FFF;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 2%), 0 1px 6px -1px rgb(0 0 0 / 2%), 0 1px 2px 0 rgb(0 0 0 / 3%);

  .biography-text{
    margin: 0;
    color: #312D42;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 157%;
  }

  .biography-input{
    min-height: 180px;
    margin-top: 16px;
    background: #FFF;
    border: 1px solid  rgb(0 0 0 / 15%);
    border-radius: 8px;
  }
}

.form-button-wrap{
  display: flex;
  justify-content: center;
  margin-top: 40px;

  .form-button{
    color:  #FFF;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    background:  #2816EE;
    border: 1px solid #2816EE;
    border-radius: 6px;
    box-shadow: 0 2px 0 0 rgb(0 0 0 / 2%);
  }
}


@media (max-width:767px){
  .biography-section{
    .biography-wrap{
      width: 100%;
      padding: 20px;
    }
  }
}